:root {
	--border-radius-extra-large: 24px;
	--border-radius-large: 12px;
	--border-radius-regular: 8px;
	--border-radius-small: 4px;

	--color-main: #f4f4f5;
	--color-dark: #333333;
	--color-blue: #5558fa;
	--color-light-green: #05ae7126;
	--color-light-red: #e84e5826;
	--color-danger: rgb(255, 58, 58);
	--color-black-alpha-4: rgba(0, 0, 0, 0.04);
	--color-black-alpha-8: rgba(0, 0, 0, 0.08);
	--color-black-alpha-16: rgba(0, 0, 0, 0.16);
	--color-black-alpha-48: rgba(0, 0, 0, 0.48);
	--color-grey-350: #a6a6a6;
}
