.clear-button {
	width: 15px;
	height: 16px;

	background-image: url("/remove-mark.svg");
	background-repeat: no-repeat;
	background-size: contain;

	cursor: pointer;
	background-color: transparent;
	border: none;
}
